<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>Admin Recipes</title>
		<%- include("partials/styles.ejs") %>
	</head>

	<%- include("partials/nav.ejs") %>
	
	<body>
		
			<div id="topDiv">
				<h1>Admin Recipes</h1>
				<a href="#" title="Add new recipe" class="addLink bi bi-plus-square"></a>
			</div>
			<% for(recipe of recipes) { %>
				<hr>
				<div class="recipeBlock">
					<div>
						<a href="#" title="Edit recipe" class="editLink bi bi-pencil-square" id="<%= recipe.recipeId %>"></a><br>
						<a href="/deleteRecipe/<%= recipe.recipeId %>" title="Delete Recipe" class="bi bi-x-square"></a>
					</div>
					
					<ul>
						<li><h4><%= recipe.recipeName %></h4></li> 
						<li><%= recipe.category %></li>
						<li>By <%= recipe.username %></li>
						<li><i class="bi bi-heart"></i>  <%= recipe.likes %></li>
					</ul>
					
					<img src="<%= recipe.img %>">
	
				</div>
			<% } %>

		<!-- Edit Modal -->
		<div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Edit Recipe</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
					<form method="POST" action="/editRecipe">
			      <div class="edit-body">
							
			      </div>
			      <div class="modal-footer">
			        <button class="btn btn-secondary" data-bs-dismiss="modal">Save Changes</button>
		      	</div>
					</form>
		    </div>
		  </div>
		</div>

		<!-- Add Modal -->
		<div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add new Recipe</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
					<form method="POST" action="/addRecipe">
			      <div class="add-body">
							
			      </div>
			      <div class="modal-footer">
			        <button class="btn btn-secondary" data-bs-dismiss="modal">Save Changes</button>
		      	</div>
					</form>
		    </div>
		  </div>
		</div>
		
	</body>

	<div id="background"></div>

	<script src="/js/script.js"></script>
</html>